{% extends '../base.html' %}

{% load static %}

{% block content %}
<div class="row">

    <hr>

    <div class="col-md-3">
        {% if cam_status %}
        <h3></h3>
        <img src="{% url 'camera_feed' %}" style="width: 480px; height: 360px;"/>
        {% else %}
        <h3>Status do fluxo da câmera: a câmera não está acessível ou está ocupada</h3>
        <h5>Coisas para checar: </h5>
        <ul class="text-right list-inline">
            <li>Conexão USB?</li>
            <li>Número da câmera em seu arquivo .env?</li>
            <li>A câmera já está em uso?</li>
        </ul>
        {% endif %}
    </div>

{% endblock content %}